"state" not returned in errors when present in authorization request

Greets all, 

I encountered a bug in v0.5.0 on PyPI, where when I am doing an Implicit Grant flow and on performing an action that results in an error, there is no "state" parameter returned in the response even though I set it in the authorization request. 

Example response from Resource Owner denying access request: 

> http://10.0.2.2:8000/redirect_uri?error=access_denied

According to the spec, [RFC 6749, Section 4.1.2.1](http://tools.ietf.org/html/rfc6749#section-4.1.2.1), the "state" is required in an error response if it was supplied in the request so I was expecting to get:

> http://10.0.2.2:8000/redirect_uri?error=access_denied&state=xyz

It's not a detrimental issue, but would help regarding consistency in security considerations if the state info can be used in both success and error scenarios.  


Fixed since oauthlib 0.7.0